/* TODO scheme and button should have same height */
html, body {
    /* background: #435e5f; */
    background: #f8f8f8;
    /* color: #e0ecff; */
    font-size: 11pt;
    font-family: 'Inconsolata', monospace;
    height: 100%;
    /* copy paste from so */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    margin: 0;
}

pre {
    font-family: 'Inconsolata', monospace;
}

#header {
    font-size: 16pt;
    text-align: center;
    margin: 0;
    margin-top: -32pt; /* oh my god */
    margin-bottom: 0.5em;
}

#bottom-padding {
    margin: 16pt;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-pad {
}

#loading-text {
    text-align: center;
}
/* ---------- TRACKER ---------- */
#main-ui {
  background: white;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    font-family: monospace;

    width: auto;
}

#tracker {
    cursor: default;
    /* border: 1px solid #e0ecff; */
    border: 1px solid black;
    margin: 0 auto;
    padding: 0.2em;

    /* border-radius: 5px; */
    border-radius: 4px;
    box-shadow: 2px 2px 2px #dde;
}

#scheme {
    /* border-bottom: 1px solid #e0ecff; */
    border-bottom: 1px solid black;
    margin-top:    0.52em;
    margin-bottom: 0;
    padding-bottom:0.5em;
}

#slices {
    padding-top: 0.45em;
    /* decided to show one 'frame' at a time */
    /*
    */
    max-height:  75vh;
    overflow:    scroll;
}

#modeline {
  max-width: 100%;
  /* border-top:    1px solid #e0ecff; */
  border-top:    1px solid black;
  margin-top:    0;
  margin-bottom: 0.52em;
  padding-top:   0.5em;
  /* overflow:      wrap; please fix this, see modeline info mode thing */
}

/* Pad a space around the modeline indicator (so it's spaced from the margin,
 * and also spaced from the rest of the information in the line besides the mode
 *
 * This might not be a good idea...
 */
#modeline-mode-indicator:first-child:after { content: " "; }
#modeline-mode-indicator:first-child:before { content: " "; }

.flex-spread {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.attr:hover {
    color: black;
    background: white;
}

.stopline {
    background: #1f283e;
}
.bright-text,
.beat-marker,
.measure-marker {
  color: #d49f22;
}
/* .empty { color: #dadbdc; } */
.measure-marker { background: #ffffff; }
.active-attr {
  background: #f4bf42;
  color: black;
}
.af { color: black; }
.edit { background: #ffb5b3; }
.selected {
    color: black;
    background: #e0ecff;
}

.active-line {
    background: #e0ecff;
    color: black;
}
.active-line .bright-text {
    color: black;
}

.slice { margin: 0; }
/*.slice:hover { background: #6d9be0; }*/
.slice:last-child { margin-bottom: 0.3em; }

span.ps:after { content: "|"; }
span.ps:first-child:before { content: "|"; }
span.ps:last-child:after { content: ""; }

/* ---------- CONTROLS ---------- */
.controls {
    /*
    height:-moz-fit-content;
    height:-webkit-fit-content;
    height:fit-content;
    */

    border: 1px solid #e0ecff;

    background: #4f688e;
    color: #e0ecff;
}

.control-vertical-fill {
    height: 100%;
}

.button {
    cursor: default;
}

.button:hover {
    color: #f4bf42;
}

.button:active {
    color: #6d9be0;
}

.file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* ---------- MISCELLANEOUS ---------- */

div.horizontal-spacer {
    width: 100%;
    float: left;
}

@media (max-height: 700px) {
    #header, #bottom-padding {
        display: none;
    }
}
