/* TODO scheme and button should have same height */
html, body {
    background: #4f688e;
    color: #e0ecff;
    font-size: 11pt;
    font-family: 'Inconsolata', monospace;
    height: 100%;
}

body {
    margin: 0;
}

pre {
    font-family: 'Inconsolata', monospace;
}

#header {
    font-size: 16pt;
    text-align: center;
    margin: 0;
    margin-top: -32pt; /* oh my god */
    margin-bottom: 0.5em;
}

#bottom-padding {
    margin: 16pt;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-pad {
}

#loading-text {
    text-align: center;
}
/* ---------- TRACKER ---------- */
#main-ui {
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    font-family: monospace;

    width: auto;
}

#tracker {
    cursor: default;
    border: 1px solid #e0ecff;
    margin: 0 auto;
    padding: 0.2em;

    /* border-radius: 0 5px 0 0; */
}

#scheme {
    border-bottom: 1px solid #e0ecff;
    margin-top:    0.52em;
    margin-bottom: 0;
    padding-bottom:0.5em;
}

#slices {
    padding-top: 0.45em;
    /* decided to show one 'frame' at a time */
    /*
    */
    max-height:  75vh;
    overflow:    scroll;
}

#modeline {
    display: flex;
    flex-wrap: wrap;

    border-top:    1px solid #e0ecff;
    margin-top:    0;
    margin-bottom: 0.52em;
    padding-top:   0.5em;
}

.tempo-input {
    flex: 1;
}

/*
.tempo-input input {
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance:     none;
    -o-appearance:      none;
    appearance:         none;
}
*/

.active-line {
    background: #e0ecff;
    color: black;
}

.attr:hover {
    color: black;
    background: white;
}

.active-attr { background: #f4bf42; }
.af { color: black; }
.edit { background: pink; }

.slice { margin: 0; }
/*.slice:hover { background: #6d9be0; }*/
.slice:last-child { margin-bottom: 0.3em; }

span.ps:after { content: "|"; }
span.ps:first-child:before { content: "|"; }
span.ps:last-child:after { content: ""; }

/* ---------- CONTROLS ---------- */
.controls {
    /*
    height:-moz-fit-content;
    height:-webkit-fit-content;
    height:fit-content;
    */

    border: 1px solid #e0ecff;

    background: #4f688e;
    color: #e0ecff;
}

.control-vertical-fill {
    height: 100%;
}

.button {
    cursor: default;

    font-family: monospace;
    font-weight: bold;

    height: 1em;
    width: 2ch;
    display: block;
    margin: 1px;

    padding: .5em;
    padding-right: 0;
}

.button:hover {
    color: #f4bf42;
}

.button:active {
    color: #6d9be0;
}

/*
#main-controls {
    border-radius: 5px 0 0 5px;
    border-right: none;
}
*/

#main-controls {
    border-radius: 0 5px 5px 0;
    border-left: none;
}


/* ---------- MISCELLANEOUS ---------- */

.bright-text {
    color: #f4bf42;
}

.selected {
    color: black;
    background: #e0ecff;
}

div.horizontal-spacer {
    width: 100%;
    float: left;
}

@media (max-height: 700px) {
    #header, #bottom-padding {
        display: none;
    }
}
